.env
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
ENV/
dist/
build/
*.egg-info/
pip-wheel-metadata/
src/flamingo_escooter/data/.DS_Store
src/flamingo_escooter/.DS_Store
pairwork.qmd
/api_reference_files
docs/_site/
_site/
.quarto/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
*.log
*.sqlite3
*.db
*.sqlite
*.egg
*.whl
Thumbs.db
/pairwork_files
/draft_files
draft.html
